<h1>
  <div class="top-container">
    <div class="header">
      <%= @task.title %>
    </div>
    <div class="button">
      <%= link_to 'Edit', edit_task_path, class: 'btn btn-primary button-width' %>
    </div>
  </div>
</h1>
<br>
<div class="alert alert-success description">
  <%= @task.details %>
</div>

<%= link_to 'Back to Tasks', tasks_path %>
