/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 20px;
}

.description {
  width: 90vw;
}

li {
  text-decoration: none;
  list-style: none;
}

ul {
  padding-left: 0;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.plus-sign {
  color: #007bff;
  padding-right: 5px;
}

.form-check {
  padding-left: 0;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-right: 3rem;
  margin-left: 15rem;
}

.button-width {
  width: 100px;
}

.edit-footer {
  display: flex;
  align-items: center;
}

.edit-submit {
  margin-right: 1rem;
}

.return-button {
  margin: 0;
}
